@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Cabin", sans-serif;
  background-color: bisque;
  position: relative;
  width: 100%;
  height: 100%;
}
.nav{
  position: sticky;
  top: 0;
}
.navbar {
  background-color: black;
  width: 100%;
  height: 6vh;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-list li {
  list-style: none;
  padding: 0 20px;
}
.home {
  margin-left: 18px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
}
.logo {
  border-radius: 150px;
  width: 30px;
  padding: 6px 5px;
}
.listenio {
  font-weight: bolder;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.imgCont {
  display: flex;
  align-items: center;
}
.mainContent {
  min-height: 69vh;
  overflow: auto;
  background-color: black;
  color: white;
  background-image: url(../img/bg.jpg);
  background-size: 100% 100%;
  display: flex;
  margin: 23px auto;
  padding:20px 10px;
  width: 96%;
}

h1 {
  font-size: 1.7rem;
}

#singerList{
  padding: 3px;
  border-radius: 4px;
  cursor: pointer;
}

#search{
  padding:3px 10px;
  margin-left: 5px;
  border-radius: 7px;
  cursor: pointer;
}

.notarijit {
  display: none;
}

.songItem {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  border-radius: 20px;
}

.coverImg {
  margin: 2px 20px;
  width: 35px;
}
.timestamp i {
  cursor: pointer;
}

.media-player {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85px;
  position: sticky;
  bottom: 0;
}
#progressBar {
  width: 80vw;
  cursor: pointer;
}
.icons {
  margin-top: 15px;
  cursor: pointer;
}
.fa-solid {
  padding: 0 5px;
}

#gif{
  background-image: url(https://www.animatedimages.org/data/media/102/animated-music-image-0172.gif);
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
  bottom: 23px;
  left: 90px;
  width: 40px;
  height: 17px;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.notjubin{
  display: none;
}
